%h1 Listing qualifiers

%table#qualifier_list.table.table-striped
  %thead
    %tr
      %th Qualifier
      %th{:colspan => 2} Actions

  %tbody.live-sort{:data => { :'update-path' => order_admin_qualifiers_path} }
    - @qualifiers.each do |qualifier|
      %tr{:id => dom_id(qualifier)}
        %td{class: bootstrap_class(qualifier.category) }
          %i.icon-resize-vertical.handle
          = qualifier.name
        %td.edit= link_to 'Edit', edit_admin_qualifier_path(qualifier)
        %td.delete= link_to 'Delete', [:admin, qualifier], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Qualifier', new_admin_qualifier_path
