%table.table.table-striped.table-hover
  %thead
    %tr
      %th= CallLog.human_attribute_name('recorded_at')
      %th= CallLog.human_attribute_name('contact_id')
      %th= CallLog.human_attribute_name('message')
      %th &nbsp;
  %tbody
    - family_card.call_logs.each do |call_log|
      = render 'call_logs/call_row', call_log: call_log
