.qualifiers.clearfix
  %h3= FamilyCard.human_attribute_name(:qualifiers)
  %span.legend.well.well-small.clearfix
    - Qualifier::CATEGORIES.each do |category|
      %span.legend-label
        %span.label{ class: "#{bootstrap_class(category, type: 'label')}" }
        %small= category.capitalize
  %br
  - qualifiers.each do |qualifier|
    %span.label{ class: bootstrap_class(qualifier.category, type: 'label') }
      = qualifier.name

