- flash.each do |type, message|
  .alert.fade.in{ "data-alert" => "alert", :class => twitterized_flash_class(type) }
    %button.close{ :type => "button", :'data-dismiss' => "alert"} ×
    %p= message
