.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{ :'data-toggle' => "collapse", :'data-target' => ".nav-collapse" }
        .icon-bar
        .icon-bar
        .icon-bar
      %a.brand{ href: "#"}= t('family_card.family_of', parent_name: @family_card.default_parent)
      .nav-collapse
        %ul.nav.pull-right
          - if current_user.owns?(@family_card)
            %li
              %a{ href: "#", :'data-toggle' => "modal", :'data-target' =>"#new_call_log" }
                %i.icon-plus
                = t('family_card.add_call_log', default: 'Add call log')

= render 'new_call', family_card: @family_card, call: @call


= render @family_card
