%table.table
  - if audit.action == 'update'
    %thead
      %th= t('audit.changed_attribute')
      %th= t('audit.changed_attribute_value_old')
      %th= t('audit.changed_attribute_value_new')
    %tbody
      - audit.audited_changes.each do |attribute, values|
        %tr
          %td= attribute
